a{
  text-decoration: none;
  font-size: larger;
  font-weight: bold;
}

body{
  overflow: auto;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 10vh;
  background-color: rgb(177, 177, 162);
}

/* unvisited link */
a:link {
}

/* visited link */
a:visited {
}

/* mouse over link */
a:hover {
}

/* selected link */
a:active {
}

.nav
{
  list-style-type: none;
  display: inline-flex;
}

.box
{
  background-color: #dda;
  display: flex;
  padding: 4px;
}

.button
{
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 6px 4px;
  cursor: pointer;
  border-style:outset;
  border-width: 4px;
  border-radius: 2px;
  color: rgb(248, 242, 242);
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  background-color: rgb(89, 207, 85);
}

.button:hover{
  border-style: inset;
  background-color: rgb(56, 153, 53);
  transform: translate(3px,3px);
}

.link
{
  margin: 4px;
}

pre.show
{
  position: sticky;
  top: 2px;
  float: right;
  opacity: 0.8;
  margin: 2px;
  padding: 5px;
  background-color: #cae8cada;
  border: 3px  #4CAF50;
  font-style: italic;
  border-style: double solid solid double;
  border-radius: 10px;
  min-width: 300px;
  max-width: 35%;
  z-index: 1;
}

.error-container
{
  margin: auto;
  padding: 10px;
  min-height: 10vh;
  background-color: rgb(148, 148, 141);
  border-style: double solid solid double;
  border-radius: 10px;
  min-width: 80%;
  max-width: 90%;
  text-align: center;
}

.text-align
{
  text-align: center;
}
